Server/src/main/java/Server/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="terminal">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="marca" type="xs:string" minOccurs="0"/>
      <xs:element name="modelo" type="xs:string" minOccurs="0"/>
      <xs:element name="precio" type="xs:double"/>
      <xs:element name="promoBronce" type="xs:string" minOccurs="0"/>
      <xs:element name="promoOro" type="xs:string" minOccurs="0"/>
      <xs:element name="promoPlata" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

